/* EventsCalendar.css */
.events-calendar {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.events-calendar h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.events-calendar-content {
  display: flex;
  flex-direction: column;
}

.events-calendar-content-header {
  display: flex;
  background-color: #1b417a;
  color: white;
  border-radius: 5px;
  margin: 10px 0;
}

.events-calendar-content-header > div {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.events-calendar-content-events {
  display: flex;
  flex-direction: column;
}

.events-calendar-content-event {
  display: flex;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #fff;
}

.events-calendar-content-event > div {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.events-calendar-content-event-details {
  font-weight: bold;
}

.calendar-item {
  border-radius: 80.5px;
  background: #1b417a;
  max-width: 650px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}

.calendar-item h4 {
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 250px;
}

.calendar-date-place h4 {
  color: #f9c902;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: unset;
}

.calendar-items {
  /* grid 3 columnas */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 2rem;
}

@media screen and (max-width: 1100px) {
  .calendar-items {
    display: flex;
    flex-direction: column;
  }

  .calendar-item img {
    width: 30%;
  }

  .calendar-item h4 {
    font-size: 14px;
  }

  .calendar-items {
    padding: 1rem;
  }
}
